 
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
   font-family: "Mozilla Headline", sans-serif;
 }
 .social-fixed {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
  padding: 5px;
  z-index: 9999;
}

.social-fixed a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s, color 0.3s;
   border-radius: 100%;
}

.social-fixed a:hover {
  background: none;
  color: none;
}
.social-fixed .fcbk{
   background-color: rgba(0, 51, 255, 0.985);
   color: white;
}
.social-fixed .twit{
   background-color:white ;
   color:  #1da1f2;
}
.social-fixed .ig{
   background-color: white;
   color:  #e1306c;
}
.social-fixed .ytb{
   background-color: white;
   color:red;
}
 navbar{
    background-color: white;
 }
 .bga{
    font-family: "Bebas Neue", sans-serif;
 }
 .nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
 }
 .nav-link:hover{
    color: white;
    background-color: black;
 }
 .navbar-brand{
    font-size:1.25rem ;
    color: black;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
 }
 /*main section 
                     */
 .main{
    background:url(./TOP.png)no-repeat;
    background-size: contain;
  background-position: 80% top ;
    width: 100%;
    height: 80vh;

 }
 .main h3{
    font-size: 4.4rem;
    font-weight: 700;
 }
 .main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 40%;
 }
 .main .bt1{
    height: 55px;
    width: 138px;
    background-color: rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 15px;
 }
 .main .bt1:hover{
    background-color: rgb(202, 18, 95);
    transition: 0.5s;
 }
 .main .bt2{
    height: 55px;
    width: 138px;
    background-color: transparent;
    color: rgb(233, 20, 109);
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15px;
 }
 .main .bt2:hover{
    background-color: rgb(233, 20, 109);
    transition: 0.5s;
    color: white;
 }
 /*.about img{
     box-shadow: -1px -14px 47px 25px rgba(0,0,0,0.78);
-webkit-box-shadow: -1px -14px 47px 25px rgba(0,0,0,0.78);
-moz-box-shadow: -1px -14px 47px 25px rgba(0,0,0,0.78);
  }*/
  .perso{
   width: 80%;
   height: 500px;
   margin-top: 20px;
   margin-bottom: 0px;
  }
  h1{
   font-size: 3rem; 
   font-weight: 900; 
 }
 .progress{
    background-color: rgb(223,219,219);
    justify-content: flex-start;/*aligner les elements à gauche*/
    border-radius: 50px;/*arrondi les bords*/
    align-items: center;
    position: relative;
    display: flex;/*aligner les elements à l'interieur de la barre*/
    height: 25px;
    width: 100%;
 }
 .pro-value1{
    animation: load1 3s normal forwards;/*declenche l'animation load1 qui dure 3s*/
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;/*valeur de depart avant animation*/
 }
 .progress p{
    color: white;
    padding: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 55px;
    margin-left: 5px;
    transform: translate(-50%);
    align-items: 100px;

 }
 .pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
 }
 .pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
 }
 .pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
 }
 @keyframes load1{
    0%{
        width: 0;
    }                   /*agrandir la largeur de la barre de 0 à 95% pendant les 2s*/
    100%{
       width: 95%; 
    }
 }
 @keyframes load2{
    0%{
        width: 0;
    }
    100%{
       width: 90%; 
    }
 }
 @keyframes load3{
    0%{
        width: 0;
    }
    100%{
       width: 70%; 
    }
 }
 @keyframes load4{
    0%{
        width: 0;
    }
    100%{
       width: 60%; 
    }
 }
 .btn1{
      height: 40px;
      width: 145px;
      outline: none;
      border: none; background-color: black;
      color: white;
      border-radius: 4px;
      margin-right: 15px;
 } 
.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s; 
}
.btn2{
    height: 40px;
      width: 145px;
      outline: none;
      border: 1px solid black; background-color: transparent;
      color: black;
      border-radius: 4px;
      margin-left: 10px;
}
.btn2:hover{
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
    }


    .card{
        border: none;
        outline: none;
    }
    .card p{
        color: gray;
    }
    .circle{
        height: 70px;
        width: 70px;
        background-color: lightgrey;
        color: black;
        padding: 12px;
        font-size: 30px ;
         border-radius: 50%;
         display: inline-block;
         margin-bottom: 20px;
    }
    .card:hover .circle{
        background-color: black;
        color: white;
        transition: 0.5s;
    }



    .control ul li{
        list-style: none;
        background-color: black;
        padding: 5px 15px;
        color: white;
        display: inline-block;
        cursor: pointer;
        letter-spacing: 2px;
    }
     .item{
        position: relative;
     }
     .item:hover{
      box-shadow: -2px -10px 196px -15px rgba(0,0,0,0.89);
-webkit-box-shadow: -2px -10px 196px -15px rgba(0,0,0,0.89);
-moz-box-shadow: -2px -10px 196px -15px rgba(0,0,0,0.89);
     }
     .item span{
          position: absolute;
          top: 40%;
          left: 45%;
          font-size: 40px;
          color: black;
          cursor: pointer;
          opacity: 0;
     }
     .item:hover span{
        opacity: 1;
        transition: 0.5s;
     }
     .item before{
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(238, 235, 230, 0.568);
      opacity: 0;
      position: absolute;
     }
     .item:hover::before{
       opacity: 1;
       transition: 0.3s;

     } 
   .persoimg{
      height: 300px;
      width: 350px;
   }
   .mj{
      width: 100%;
      height: 250px;
   }
   .circle:hover{
      background-color:purple;
      transition:0.4s ;
      color: white;
   }
   .contact .btn3{
      background-color: black;
      color: white;
      outline: none;
      border: none;
      height: 40px;
      width: 140px;
      border-radius: 4px;
   }
   .btn3:hover{
      background-color: transparent;
      color: purple;
      border: solid;
   }
   .monbouton{
      background-color: purple;
      color: white;
      height: 40px;
      width: 100px;
      border: solid;
   }
   .bordure{
      border-radius: 6px;
   }
   
/* Écrans moyens (tablettes)
@media (max-width: 1024px) {
    .navbar-brand {
        display: block;
    }
    .main{
        background-size: 270px auto;  Réduit beaucoup l'image 
        margin-top: ;
    }
}



Petits écrans 
@media (max-width: 768px) {
    .main{
        background-size: 170px auto; /* Réduit beaucoup l'image 
     
        background-position: 120% top ;
    width: 100%;
    height: 50vh;
    }
     
 
 .main h6{
    font-size: 18px;
    line-height: 1;
    width: 15%;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline !important;
    border-bottom: 3px solid rgb(233, 20, 109);
 }
 .main .bt1{
    height: 40px;
    width: 95px;
   display: inline-block;

 }
.main .bt2{
    height: 40px;
    width: 95px;
   display: inline-block;
 }
 .btn1:hover{
    background-color: WHITE;
    color: black;
    border: 1px solid black;
    transition: 0.5s; 
}
.btn2:hover{
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
    }
    .pr{
      flex-direction: column;
      align-items: center;
    }
      .main h3{
    font-size: 1.3rem;
    font-weight: 350;
    
    
 }
}
*/

/*@media (max-width: 768px){
   
 .main h6{
    font-size: 18px;
    line-height: 1;
    width: 15%;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline !important;
    border-bottom: 3px solid rgb(233, 20, 109);
 }
 .main .bt1{
    height: 40px;
    width: 95px;
   display: inline-block;
   position: absolute;
   top: 10%;
   right: 150px;

 }
.main .bt2{
    height: 40px;
    width: 95px;
   display: inline-block;
   position: absolute;
   top: 10%;
   right: 30px;
 }
 .btn1:hover{
    background-color: WHITE;
    color: black;
    border: 1px solid black;
    transition: 0.5s; 
}
.pr{
   margin-top: 490PX;
font-size: 14px;
}
.main h3{
    font-size: 1.3rem;
    font-weight: 350;  
    
 }
}*/
@media (max-width: 1024px){
   .main .bt1{
      margin-left: 15px;
      display:grid;
      justify-content: flex-end;
   }
   .main .h6{
      font-weight: 8px;
   }
   IMG{
      max-width: 70%;
      height: auto;
      justify-content: center;
      align-items: center;
   }
}
   